In [2]:
# Import dependancies
import requests
import json
import pandas as pd
from pprint import pprint

In [28]:
url = "http://asterank.com/api/asterank?query=" 
response = requests.get(url + '{"price":{"$gt":1500}}&limit=1000').json()

df = pd.DataFrame(response)
df = df.sort_values(by = 'price' , ascending = False)

In [30]:
df.columns

Index(['sigma_tp', 'diameter', 'sigma_q', 'epoch_mjd', 'ad', 'producer', 'rms',
       'H_sigma', 'closeness', 'spec_B', 'K2', 'K1', 'M1', 'two_body',
       'full_name', 'M2', 'sigma_per', 'equinox', 'DT', 'diameter_sigma',
       'saved', 'albedo', 'moid_ld', 'pha', 'neo', 'sigma_ad', 'PC', 'profit',
       'est_diameter', 'sigma_w', 'sigma_i', 'per', 'id', 'A1', 'data_arc',
       'A3', 'score', 'per_y', 'sigma_n', 'epoch_cal', 'orbit_id', 'sigma_a',
       'sigma_om', 'A2', 'sigma_e', 'condition_code', 'rot_per', 'prov_des',
       'G', 'last_obs', 'H', 'price', 'IR', 'spec_T', 'epoch', 'n_obs_used',
       'moid', 'extent', 'dv', 'e', 'GM', 'tp_cal', 'pdes', 'class', 'UB', 'a',
       't_jup', 'om', 'ma', 'name', 'i', 'tp', 'prefix', 'BV', 'spec', 'q',
       'w', 'moid_jup', 'n', 'sigma_ma', 'first_obs', 'n_del_obs_used',
       'spkid', 'n_dop_obs_used'],
      dtype='object')

In [54]:
neo_df = df[['full_name', 'spec' , 'class' , 'ad' , 'q' , 'a' , 'e' , 'dv' ,'per' , 'price' , 'profit' , 'moid' , 'diameter']]

## Headers

spec = spectral type

ad = aphelion distance (AU)

q = perihelion (AU)

a = semi-major axis (AU) => (longest diameter from its obit)

e = eccentricity

dv = delta-velocity

per = period => (how long for 1 revolution around the sun)

moid = minimum orbit intersection distance

In [55]:
neo_df.groupby('class').mean()

,ad,q,a,e,dv,per,price,profit,moid
class,,,,,,,,,
AMO,3.437415,1.134618,2.286016,0.467534,7.634640,1298.233741,6.263093e+12,5.132836e+11,0.168334
APO,2.550885,0.738740,1.644812,0.516560,9.076410,798.287198,1.172056e+13,1.021121e+12,0.094875
ATE,1.280806,0.488542,0.884674,0.446612,11.823428,304.568244,1.923148e+12,1.218752e+11,0.088954
CEN,15.649482,7.851642,11.750562,0.403949,13.789581,15504.506106,1.185662e+18,7.570784e+16,6.944243
IMB,2.073401,1.805322,1.939361,0.069265,11.220277,986.543564,2.890453e+13,2.073357e+12,0.837942
MBA,3.177484,2.351217,2.764350,0.150036,10.184747,1683.575224,2.158780e+17,1.505552e+16,1.366740
MCA,3.325661,1.500562,2.413112,0.360088,10.317202,1382.475749,3.522130e+14,2.519789e+13,0.613796
OMB,4.060508,3.086898,3.573703,0.134986,11.442354,2474.324910,3.224387e+17,2.152675e+16,2.105363
TJN,5.594882,4.805371,5.200126,0.075789,13.476844,4331.455711,4.045995e+16,2.271357e+15,3.819932